$text_green: #2FB37F

html,
body
  background-color: #F6F9FC
.index-container
  width: 100vw
  max-width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  h1
    color: $text_green
    font-weight: 500
  .buttons
    display: flex
    justify-content: center
    align-items: center
    width: 400px
    .button
      background-color: #F1F4F7
      color: #CCCED1
      padding: 10px
      border-radius: 4px
      margin: 20px
      font-weight: 600
      &.active
        color: #2FB37F
        background-color: white
        box-shadow: 0px 2px 4px 0px rgba(50, 50, 93, .1)
  #editor-container
    background-color: white
    border-radius: 4px
    #editor
      width: 400px
      height: 250px
      &.CodeFlask
        overflow: auto
