@page
@model IndexModel
@{
    ViewData["Title"] = "PickupAPI";
}
<div class="index-container">
  <h1>.NET Pick Up Line API</h1>
  <p>A simple project as an excuse to learn .NET Core</p>
  <div class="buttons" id="request-button-mother">
    <div class="button active" id="POST">POST</div>
    <div class="button" id="GET">GET</div>
    <div class="button" id="PUT">PUT</div>
    <div class="button" id="DELETE">DELETE</div>
  </div>
  <div id="route-container">
    <span>route:</span>
    <select name="route" id="route-select">
      <option value="api/pickups/">api/pickups/</option>
      <option value="api/pickups/:id" class="hidden">api/pickups/:id</option>
    </select>
  </div>

  <div id="param-container" class="hidden">
    <span id="param"></span>
    <input id="param-val" type="text" name="param" value="1">
  </div>

  <div id="editor-container">
    <div id="editor"></div>
    <div id="editor-bottom">
      <div>request</div>
      <div id="code-invalid">request invalid!</div>
      <div id="send-button" class="button">send</div>
    </div>
  </div>
  <div id="get-request-button" class="hidden">send request</div>
  <script type="text/javascript">prepareEditor();</script>
  <div id="response-container" class="hidden">
    <div id="response">
      <pre id="response-text"></pre>
    </div>
    <div id="response-bottom">
      <span>response</span>
    </div>
  </div>
</div>
