@page
@model IndexModel
@{
    ViewData["Title"] = "IpsumAPI";
}
<div class="index-container">
  <h1>.NET Lorem Ipsum API</h1>
  <div class="buttons">
    <div class="button active">POST</div>
    <div class="button">GET</div>
  </div>
  <div id="route-container"></div>
  <div id="editor-container">
    <div id="editor">var hello = "bla";</div>
  </div>
  <div id="response-container"></div>
</div>
