@page
@model IndexModel
@{
    ViewData["Title"] = "IpsumAPI";
}
<div class="index-container">
  <h1>.NET Lorem Ipsum API</h1>
  <div class="buttons" id="request-button-mother">
    <div class="button active" id="POST">POST</div>
    <div class="button" id="GET">GET</div>
  </div>
  <div id="route-container">
    <span>route:</span>
    <select name="route" id="route-select">
      <option value="api/ipsums/">api/ipsums/</option>
    </select>
  </div>

  <div id="editor-container">
    <div id="editor"></div>
    <div id="editor-bottom">
      <div>request</div>
      <div id="code-invalid">request invalid!</div>
      <div id="send-button" class="button">send</div>
    </div>
  </div>
  <div id="get-request-button" class="hidden">send request</div>
  <script type="text/javascript">prepareEditor();</script>
  <div id="response-container" class="hidden">
    <div id="response">
      <pre id="response-text"></pre>
    </div>
    <div id="response-bottom">
      <span>response</span>
    </div>
  </div>
</div>
